players/*
worlds/*
plugins/*
logs/*
bin/*
.idea/*
*.log
server.lock
*.pmf
*.txt
*.properties

# php-cs-fixer
/.php_cs.cache
/.php-cs-fixer.cache

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

# nano
*.swp
